*.pdf
*.url
*.jpg
*.png
*.ipynb
*.xls
*.xlsx
examples/*
output/*
tools/__pycache__/*
build/*
dist/*
logs/*
usage/*
feedback/*
test_code/*
unsloth_compiled_cache/*
input/
output/
logs/
usage/
feedback/
config/
tmp/