*.pdf
*.url
*.jpg
*.png
*.ipynb
*.xls
*.xlsx
*.pyc
*.json.bak.*
examples/*
output/*
tools/__pycache__/*
build/*
dist/*
logs/*
usage/*
docs/*
guide/*
feedback/*
test_code/*
test/tmp/*
unsloth_compiled_cache/*
.vscode/*
llm_topic_modelling.egg-info/*
input/
output/
logs/
usage/
feedback/
config/
tmp/
index.qmd
_quarto.yml
!config/pi_agent.env.example
!config/docker_app_config.env.example
!config/app_config.env.example
workspace/*
user_guide/*
_extensions/*
cdk/config/*
!cdk/config/app_config.env.example
!cdk/config/lambda/
cdk/config/lambda/*
!cdk/config/lambda/lambda_function.py
!cdk/config/headless_s3_seed/
cdk/config/headless_s3_seed/*
!cdk/config/headless_s3_seed/input/
cdk/config/headless_s3_seed/input/*
!cdk/config/headless_s3_seed/input/config/
cdk/config/headless_s3_seed/input/config/*
!cdk/config/headless_s3_seed/input/config/example_headless_env_file.env
cdk/cdk.out/*
cdk/archive/*
cdk/cdk.json
cdk/cdk.context.json
cdk/precheck.context.json