*.pdf
*.url
*.jpg
*.png
*.ipynb
*.xls
*.pyc
examples/*
output/*
tools/__pycache__/*
build/*
dist/*
logs/*
usage/*
feedback/*
test_code/*
config/*
tmp/*
unsloth_compiled_cache/*
.vscode/*
llm_topic_modelling.egg-info/*