gradio<=6.12.0
transformers<=5.3.0
spaces<=0.48.1
pandas<=2.3.3
boto3<=1.42.80
pyarrow<=23.0.1
openpyxl<=3.1.5
markdown<=3.10.2
tabulate<=0.9.0
lxml<=6.0.4
google-genai<=1.73.0
openai<=2.31.0
html5lib<=1.1
beautifulsoup4<=4.14.3
rapidfuzz<=3.14.5
python-dotenv<=1.2.2
# Torch/Unsloth
# Latest compatible with CUDA 12.4
torch<=2.9.1 --extra-index-url https://download.pytorch.org/whl/cu128
unsloth[cu128-torch290]<=2026.4.4 # Refer here for more details on installation: https://pypi.org/project/unsloth
unsloth_zoo<=2026.4.4
# Additional for Windows and CUDA 12.4 older GPUS (RTX 3x or similar):
#triton-windows<3.3
timm
# Llama CPP Python
llama-cpp-python>=0.3.16 -C cmake.args="-DGGML_CUDA=on"
#llama-cpp-python @ git+https://github.com/JamePeng/llama-cpp-python.git -C cmake.args="-DGGML_CUDA=on"
# If above doesn't work, try specific wheels for your system, see files in https://github.com/JamePeng/llama-cpp-python/releases for different python versions