# Note that this requirements file is optimised for Hugging Face spaces / Python 3.10. Please use requirements_no_local.txt for installation without local model inference (simplest approach to get going). Please use requirements_cpu.txt for CPU instances and requirements_gpu.txt for GPU instances using Python 3.11
gradio<=6.26.0
transformers<=5.30.0
spaces
boto3<=1.43.90
pandas<=3.0.5
pyarrow<=25.0.1
openpyxl<=3.1.5
pyexcel<=0.7.4
markdown<=3.10.2
tabulate<=0.9.0
lxml<=6.1.1
google-genai<=2.22.0
openai<=3.11.0
html5lib<=1.1
beautifulsoup4<=4.14.3
rapidfuzz<=3.14.5
python-dotenv<=1.2.2
# GPU (for huggingface instance)
# Torch/Unsloth and llama-cpp-python
# Latest compatible with CUDA 12.8
torch<=2.14.0 --extra-index-url https://download.pytorch.org/whl/cu128
unsloth<=2026.9.4
unsloth_zoo<=2026.9.4
timm
# llama-cpp-python direct wheel link for GPU compatible version for use with Python 3.10 and Hugging Face
https://github.com/abetlen/llama-cpp-python/releases/download/v0.3.31-cu130/llama_cpp_python-0.3.31-py3-none-manylinux_2_35_x86_64.whl



