# Note that this requirements file is optimised for Hugging Face spaces / Python 3.10. Please use requirements_no_local.txt for installation without local model inference (simplest approach to get going). Please use requirements_cpu.txt for CPU instances and requirements_gpu.txt for GPU instances using Python 3.11
gradio<=6.16.0
transformers<=5.30.0
spaces
boto3<=1.42.80
pandas<=2.3.3
pyarrow<=23.0.1
openpyxl<=3.1.5
markdown<=3.10.2
tabulate<=0.9.0
lxml<=6.1.1
google-genai<=1.73.0
openai<=2.31.0
html5lib<=1.1
beautifulsoup4<=4.14.3
rapidfuzz<=3.14.5
python-dotenv<=1.2.2
# GPU (for huggingface instance)
# Torch/Unsloth and llama-cpp-python
# Latest compatible with CUDA 12.4
torch<=2.9.1 --extra-index-url https://download.pytorch.org/whl/cu128
unsloth<=2026.4.4
unsloth_zoo<=2026.4.4
timm
# llama-cpp-python direct wheel link for GPU compatible version 3.25 for use with Python 3.10 and Hugging Face
https://github.com/abetlen/llama-cpp-python/releases/download/v0.3.25-cu125/llama_cpp_python-0.3.25-py3-none-linux_x86_64.whl
#https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.17-cu128-Basic-linux-20251202/llama_cpp_python-0.3.17-cp310-cp310-linux_x86_64.whl
#https://github.com/abetlen/llama-cpp-python/releases/download/v0.3.16-cu124/llama_cpp_python-0.3.16-cp310-cp310-linux_x86_64.whl



