pandas==2.3.2
gradio==5.44.1
transformers==4.56.0
spaces==0.40.1
boto3==1.40.22
pyarrow==21.0.0
openpyxl==3.1.5
markdown==3.7
tabulate==0.9.0
lxml==5.3.0
google-genai==1.32.0
html5lib==1.1
beautifulsoup4==4.12.3
rapidfuzz==3.13.0
python-dotenv==1.1.0
# torch==2.7.1 --extra-index-url https://download.pytorch.org/whl/cpu # Commented out as Dockerfile should install torch
# llama-cpp-python==0.3.16 # Commented out as Dockerfile should install llama-cpp-python